@import "../../../../assets/scss/variables";

.Header {
    margin-left: 45px;
    margin-top: 35px;
    position: relative;
    height: 85vh;
    display: block;
  }
  .Header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(19deg, $blue-light,$color-purple);
    -webkit-transform-origin: 0px 0px;
            transform-origin: 0px 0px;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-13deg);
            
    overflow: hidden;
    z-index: -1;
    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
  }
  .Header-background::before,
  .Header-background::after {
    display: block;
    position: absolute;
    content: '';
    width: 80%;
    height: 33.333333333333336%;
    opacity: 0.3;
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  .Header-background::before {
    background: $blue-light;
    right: 0;
  }
  .Header-background::after {
    background: $color-purple;
    bottom: 0;
  }
  .Header-content {
    text-align: center;
    padding: 4rem 4rem;
    margin: 0 auto;
  }
  
  .Header-hero h1,
  .Header-hero p {
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(50,0,100,0.1);
  }
  .Header-hero h1 {
    margin: 0;
    font-size: 3rem;
  }
  .Header-hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .Header-visuals {
    position: relative;
    margin-top: 5rem;
    }
  .Button {
    padding: 1.5rem 2rem;
    border: 0;
    color: $blue-light-2;
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
    border-radius: 3px;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 1.75rem 2rem -0.4rem rgba(50,0,100,0.15);
  }
  .Button:hover {
    color: $green-lemon;
    box-shadow: 0 1.75rem 3rem 0rem rgba(50,0,100,0.1);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .Button:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50,0,100,0.125);
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  .Iphone {
    display: inline-block;
    background: $color-white;
    padding: 4rem 0.6rem 0;
    border-radius: 2rem;
    box-shadow: -1rem 1.75rem 2rem -0.4rem rgba(50,0,100,0.1), -0.2rem 0.2rem 0.5rem rgba(50,0,100,0.05), inset 0.5rem -0.5rem 0.5rem -0.4rem rgba(50,0,100,0.1);
    text-align: center;
  }
  .Iphone::before,
  .Iphone::after {
    content: '';
    display: block;
  }
  .Iphone::before {
    background-color: var(--color-3);
    background-image: linear-gradient(0deg, var(--color-3) 0%, var(--color-4) 100%);
    width: 30rem;
    padding-top: 61.5%;
  }

  
    
  @media (min-width: 58rem) {
    .Header-content {
      text-align: left;
      padding-left: 10rem;
      max-width: 60rem;
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 58rem) {
    .Header-visuals {
      margin: 0;
    }
  }