<mat-sidenav-container>
  <mat-sidenav class="sidenav"></mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row class="toolbar-menu-row">
        <span class="text-logo">Facode</span>
        <span class="space"></span>
        <nav>
          <ul>
            <li><a routerLink=".">Servicios</a></li>
            <li><a routerLink=".">Servicios</a></li>
            <li><a routerLink=".">Servicios</a></li>
          </ul>
        </nav>
        <button mat-button class="btn-top-menu">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>